@{
    ViewData["Title"] = "Courses/Edit";
}

<h3>Edit Course</h3>
<form method="post">
    <div class="form-group">
        <label for="Name">Course Name</label>
        <input name="name" type="text" class="form-control" id="courseName">
        <label for="Description">Course Description</label>
        <input name="description" type="text" class="form-control" id="courseDescription">
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>