@{
    ViewData["Title"] = "CreateVideo";
}
<h3>Add new video to course</h3>
<form method="post">
    <div class="form-group">
        <label for="Name">Video Name</label>
        <input name="name" type="text" class="form-control" id="videoName">
        <label for="Description">Video Description</label>
        <input name="description" type="text" class="form-control" id="articleDescription">
        <label for="url">Duration</label>
        <input name="duration" type="text" class="form-control" id="duration">
        <label for="Quality">Quality</label>
        <input name="quality" type="text" class="form-control" id="quality">
    </div>
    <button type="submit" class="btn btn-primary">Add to course</button>
</form>
